[worldserver]

#
#    IndividualXp.Enabled
#        Description: Enable or Disable the IndividualXP Module.
#        Default:     IndividualXp.Enabled   = 1
#

IndividualXp.Enabled = 1

#
#    IndividualXp.Announce
#        Description: Announce the IndividualXP Module at logon.
#        Default:     IndividualXp.Announce   = 1
#

IndividualXp.Announce = 1

#
#    MaxXPRate
#        Description: This is the max amount a player can set their xp to.
#        Default:     Default  = 1
#

MaxXPRate = 10

#
#    DefaultXPRate
#        Description: This is the default rate players start with.
#        Default:     Default  = 1
#

DefaultXPRate = 1
