[worldserver]

###################################################################################################
# SOLO LFG
###################################################################################################

#    SoloLFG.Enable
#        Description: Enable the module
#        Default:     1  - (Enabled)
#                     0  - (Disabled)


SoloLFG.Enable = 1

#    SoloLFG.Announce
#        Description: Announce the module
#        Default:     1  - (Enabled)
#                     0  - (Disabled)

SoloLFG.Announce = 1

#    SoloLFG.FixedXP
#        Description: Set the XP rate in dungeons to FixedXPRate
#        Default:     1  - (Enabled)
#                     0  - (Disabled)

SoloLFG.FixedXP = 1

#    SoloLFG.FixedXPRate
#        Description: Set the fixed XP rate used in dungeons
#        Default:     0.2 (The same XP gained in a full party of 5)

SoloLFG.FixedXPRate = 0.2

###################################################################################################
