[worldserver]

###################################################################################################
# SOLO LFG
###################################################################################################

#    EnableSoloLfg
#        Description: Enable the module
#        Default:     1  - (Enabled)
#                     0  - (Disabled)


LFG.SoloMode = 1

#    AnnounceSoloLfg
#        Description: Announce if enabled
#        Default:     true  - (Enabled)
#                     false  - (Disabled)

SoloLFG.Announce = true


###################################################################################################