/cmake-build-debug/*
/build*/
/var/*
/env/dist/*
/env/user/*
/env/docker/data/*
/env/docker/logs/*
/env/docker/etc/*
!/env/docker/etc/authserver.conf.dockerdist
!/env/docker/etc/worldserver.conf.dockerdist
/.env*
.idea
