#
# AzerothCore
#

conf/*
!conf/dist
apps/drassil/*
env/dist/*
env/user/*
modules/*
!modules/*.md
!modules/*.sh
build*/
var/*
docker/build/cache
docker/authserver/bin
docker/server/bin
docker/authserver/etc/authserver.conf
docker/authserver/etc/authserver.conf.dist
docker/server/etc/server.conf
docker/server/etc/server.conf.dist
docker/server/logs/
docker/server/logs/
docker/server/data/
!docker/build
.env
apps/joiner

!.gitkeep

#
#Generic
#

.directory
.mailmap
*.orig
*.rej
*~
.hg/
*.kdev*
.DS_Store
CMakeLists.txt.user
*.bak
*.patch
*.diff
*.REMOTE.*
*.BACKUP.*
*.BASE.*
*.LOCAL.*

#
# IDE & other software
#
/.settings/
/.externalToolBuilders/*
# exclude in all levels
nbproject/
.sync.ffs_db
*.kate-swp
.browse.VC*
.vscode
.idea
cmake-build-debug/*
cmake-build-debug-coverage/*
coverage-report/

#
# Eclipse
#
*.pydevproject
.metadata
.gradle
tmp/
*.tmp
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.cproject


# ==================
#
#  CUSTOM
#  
#  put below your custom ignore rules
#  for example , if you want to include a 
#  module directly in repositoryyou can do:
#
#  !modules/yourmodule
#
# ==================
