[submodule "modules/mod-ah-bot-plus"]
	path = modules/mod-ah-bot-plus
	url = https://github.com/NathanHandley/mod-ah-bot-plus.git
[submodule "modules/mod-transmog"]
	path = modules/mod-transmog
	url = https://github.com/azerothcore/mod-transmog.git
