[submodule "modules/mod-branded-mercenary"]
	path = modules/mod-branded-mercenary
	url = git@github.com:and-elf/mod-branded-mercenary.git
	branch = feat/fragment-branding-hire
[submodule "modules/mod-reforge"]
	path = modules/mod-reforge
	url = git@github.com:and-elf/mod-reforge.git
	branch = master
