[worldserver]

###################################################################################################
#	Phased Duels module
###################################################################################################

# Enable the module? (1: true | 0: false)

PhasedDuels.Enable = 1
