[worldserver]

###################################################################################################
#	SOLOCRAFT
###################################################################################################

# Enable the module? (1: true | 0: false)

Solocraft.Enable = 1

# Announce the module when the player logs in?

Solocraft.Announce = 1

# Difficulty Multipliers
# Defaults: 5, 10, 25, 10

Solocraft.Dungeon = 5 
Solocraft.Heroic = 10
Solocraft.Raid25 = 25
Solocraft.Raid40 = 10