[worldserver]

#
#    PvPChest
#        Description: Enable or Disable this feature for the players to drop loot.
#        Default:     Enabled  = 1
#                     Disabled = 0
PvPChest = 1

#
#    ChestID
#        Description: allows the player to spawn the chest of their choice
#        Default:     Enabled  = 179697
#                    
ChestID = "80000"

#
#    KillAnnounce
#        Description: Announces to the player who killed them.
#        Config:     Disable = "0" : Announce  = "1" : Notifaction = "2" : Both = "3"
#                    
KillAnnounce = "1"

#
#    ChestTimer
#        Description: The ammount of time the chest is in world before despawn (In Seconds)
#        Config: Default = 120
#                    
ChestTimer = "120"

#
#    spawnchestIP
#        Description: Allow the chest to spawn if player is on the same IP address
#        Config:     Disable = "0"
#					 Enable = "1" do not spawn chest if same IP
#                    
spawnchestIP = "1"