#!/bin/bash

#
# CUSTOM
#

DB_CHARACTERS_CUSTOM_PATHS+=(
	$TRANSM_PATH_ROOT"/data/sql/db-characters/"
)

DB_WORLD_CUSTOM_PATHS+=(
	$TRANSM_PATH_ROOT"/data/sql/db-world/"
)

#
# UPDATES
#

DB_CHARACTERS_UPDATE_PATHS+=(
	$TRANSM_PATH_ROOT"/data/sql/updates/char/"
)

DB_WORLD_UPDATE_PATHS+=(
	$TRANSM_PATH_ROOT"/data/sql/updates/world/"
)

