[worldserver]


###################################################################################################
#    Transmogrification config
###################################################################################################
#
#    SETTINGS
#
#    Logger.custom.transmog
#        Description: Transmogrification logging setting, see logger settings
#        Default:    3, Console Server
#
#    Transmogrification.EnableTransmogInfo
#        Description: Enables / Disables the info button for transmogrification
#        Default:    1
#
#    Transmogrification.TransmogNpcText
#        Description: The npc_text entry of the info menu for transmogrification
#        Default:    601083
#
#    Transmogrification.Allowed
#        Description: A list of item entries that are allowed for transmogrification (skips quality and CanUseItem check)
#                     Example: "25 35674 5623"
#        Default:    ""
#
#    Transmogrification.NotAllowed
#        Description: A list of item entries that are NOT allowed for transmogrification
#                     Example: "25 35674 5623"
#        Default:    ""

Transmogrification.EnableTransmogInfo = 1
Transmogrification.TransmogNpcText = 601083

Transmogrification.Allowed = ""
Transmogrification.NotAllowed = ""

#
#    COPPER COST
#
#    Transmogrification.ScaledCostModifier
#        Description: A multiplier for the default gold cost (change to 0 for no default cost)
#        Default:    1.0
#
#    Transmogrification.CopperCost
#        Description: Cost added on top of other costs (can be negative)
#        Default:    0
#
#    For custom gold cost set ScaledCostModifier to 0.0 and CopperCost to what ever cost you want

Transmogrification.ScaledCostModifier = 1.0
Transmogrification.CopperCost = 0

#
#    TOKEN COST
#
#    Transmogrification.RequireToken
#        Description: Adds/disables token cost
#        Default:    0
#
#    Transmogrification.TokenEntry
#        Description: Entry of the token item
#        Default:    49426
#
#    Transmogrification.TokenAmount
#        Description: Amount of tokens required
#        Default:    1

Transmogrification.RequireToken = 0
Transmogrification.TokenEntry = 49426
Transmogrification.TokenAmount = 1

#
#    REQUIREMENTS
#
#    Transmogrification.AllowPoor
#        Description: Allow poor quality items to be used as source and target items
#        Default:    0
#
#    Transmogrification.AllowCommon
#        Description: Allow common quality items to be used as source and target items
#        Default:    0
#
#    Transmogrification.AllowUncommon
#        Description: Allow uncommon quality items to be used as source and target items
#        Default:    1
#
#    Transmogrification.AllowRare
#        Description: Allow rare quality items to be used as source and target items
#        Default:    1
#
#    Transmogrification.AllowEpic
#        Description: Allow epic quality items to be used as source and target items
#        Default:    1
#
#    Transmogrification.AllowLegendary
#        Description: Allow legendary quality items to be used as source and target items
#        Default:    0
#
#    Transmogrification.AllowArtifact
#        Description: Allow artifact quality items to be used as source and target items
#        Default:    0
#
#    Transmogrification.AllowHeirloom
#        Description: Allow heirloom quality items to be used as source and target items
#        Default:    1
#
#    Transmogrification.AllowMixedArmorTypes
#        Description: Allow cloth items to be transmogrified with plate for example
#        Default:    0
#
#    Transmogrification.AllowMixedWeaponTypes
#        Description: Allow axe to be transmogrified with dagger for example
#        Default:    0
#
#    Transmogrification.AllowFishingPoles
#        Description: Allow fishing poles to be transmogrified
#        Default:    0
#
#    Transmogrification.IgnoreReqRace
#        Description: Ignore required race for source items
#        Default:    0
#
#    Transmogrification.IgnoreReqClass
#        Description: Ignore required class for source items
#        Default:    0
#
#    Transmogrification.IgnoreReqSkill
#        Description: Ignore required skill for source items
#        Default:    0
#
#    Transmogrification.IgnoreReqSpell
#        Description: Ignore required spell for source items
#        Default:    0
#
#    Transmogrification.IgnoreReqLevel
#        Description: Ignore required level for source items
#        Default:    0
#
#    Transmogrification.IgnoreReqEvent
#        Description: Ignore required event for source items
#        Default:    0
#
#    Transmogrification.IgnoreReqStats
#        Description: Ignore stat count > 0 requirement for source items
#        Default:    0

Transmogrification.AllowPoor = 0
Transmogrification.AllowCommon = 0
Transmogrification.AllowUncommon = 1
Transmogrification.AllowRare = 1
Transmogrification.AllowEpic = 1
Transmogrification.AllowLegendary = 0
Transmogrification.AllowArtifact = 0
Transmogrification.AllowHeirloom = 1

Transmogrification.AllowMixedArmorTypes = 0
Transmogrification.AllowMixedWeaponTypes = 0
Transmogrification.AllowFishingPoles = 0

Transmogrification.IgnoreReqRace = 0
Transmogrification.IgnoreReqClass = 0
Transmogrification.IgnoreReqSkill = 0
Transmogrification.IgnoreReqSpell = 0
Transmogrification.IgnoreReqLevel = 0
Transmogrification.IgnoreReqEvent = 0
Transmogrification.IgnoreReqStats = 0

#
#    SET FEATURE
#
#    Transmogrification.EnableSets
#        Description: Enables / Disables the set feature. If you want permanent disable, check Transmogrification.h
#        Default:    1
#
#    Transmogrification.MaxSets
#        Description: Maximum amount of sets a player can save (hardcap at 25)
#        Default:    10
#
#    Transmogrification.EnableSetInfo
#        Description: Enables / Disables the info button for set fature
#        Default:    1
#
#    Transmogrification.SetNpcText
#        Description: The npc_text entry of the info menu for the set feature
#        Default:    601084
#
#    Transmogrification.SetCostModifier
#        Description: A multiplier for the default gold cost (all costs summed together) (change to 0 for no default cost)
#        Default:    3.0
#
#    Transmogrification.SetCopperCost
#        Description: Cost added on top of other costs (can be negative)
#        Default:    0

Transmogrification.EnableSets = 1
Transmogrification.MaxSets = 10

Transmogrification.EnableSetInfo = 1
Transmogrification.SetNpcText = 601084

Transmogrification.SetCostModifier = 3.0
Transmogrification.SetCopperCost = 0

#
###################################################################################################
