[worldserver]
###################################################################################################
#     ____    __                                         ____                           
#    /\  _`\ /\ \__                  __                 /\  _`\                         
#    \ \,\L\_\ \ ,_\  __  __     __ /\_\     __      ___\ \ \/\_\    ___   _ __    __   
#     \/_\__ \\ \ \/ /\ \/\ \  /'_ `\/\ \  /'__`\  /' _ `\ \ \/_/_  / __`\/\`'__\/'__`\ 
#       /\ \L\ \ \ \_\ \ \_\ \/\ \L\ \ \ \/\ \L\.\_/\ \/\ \ \ \L\ \/\ \L\ \ \ \//\  __/ 
#       \ `\____\ \__\\/`____ \ \____ \ \_\ \__/.\_\ \_\ \_\ \____/\ \____/\ \_\\ \____\
#        \/_____/\/__/ `/___/> \/___L\ \/_/\/__/\/_/\/_/\/_/\/___/  \/___/  \/_/ \/____/
#                         /\___/ /\____/                                                
#                         \/__/  \_/__/          http://stygianthebest.github.io                                         
###################################################################################################
# DUEL RESET
###################################################################################################

#    EnableReset
#        Description: Enable the module
#        Default:     1  - (Enabled)
#                     0  - (Disabled)
DuelReset.Enabled = 1

#    EnableReset
#        Description: Enable the module
#        Default:     1  - (Enabled)
#                     0  - (Disabled)
DuelReset.Announce = 1

#    DuelResetCooldowns
#        Description: Reset all cooldowns before duel starts and restore them when duel ends.
#        Default:     1  - (Enabled)
#                     0  - (Disabled)
DuelReset.Cooldowns = 1

#    DuelResetHealthMana
#        Description: Reset health and mana before duel starts and restore them when duel ends.
#        Default:     1  - (Enabled)
#                     0  - (Disabled)
DuelReset.HealthMana = 1