[worldserver]

###################################################################################################
#	DUEL RESET
###################################################################################################

# Enable Feature? (1: true | 0: false)
DuelReset.Announce = 1
DuelResetHealthMana = 1
DuelResetCooldowns = 1