# absolute root path of your azerothshard repository
SRCPATH="$AC_PATH_ROOT"
# absolute path where binary files must be stored
BINPATH="$AC_PATH_ROOT/build/"
# absolute path where config. files must be stored
CONFDIR="$AC_PATH_ROOT/build/etc/"

##############################################
#
#  COMPILER_CONFIGURATIONS
#
##############################################


# set preferred compilers
CCOMPILERC="/usr/bin/clang"
CCOMPILERCXX="/usr/bin/clang++"
#CCOMPILERC="/usr/bin/gcc"
#CCOMPILERCXX="/usr/bin/g++"

# how many thread must be used for compilation ( leave zero to use all available )
MTHREADS=0
# enable/disable warnings during compilation
CWARNINGS=OFF
# enable/disable some debug informations ( it's not a debug compilation )
CDEBUG=OFF
# specify compilation type
CTYPE=Release
# compile scripts
CSCRIPTS=ON
# compile server
CSERVERS=ON
# compile tools
CTOOLS=OFF
# use precompiled headers ( fatest compilation but not optimized if you change headers often )
CSCRIPTPCH=ON
CCOREPCH=ON
# you can add your custom definitions here ( -D )
CCUSTOMOPTIONS=""

##############################################
#
#  RUNNER CONFIGURATION
#
##############################################

# enable/disable GDB execution
export GDB_ENABLED=0

# gdb file
export GDB=""

# directory where binary are stored
export BINPATH=""

 ### Put here the pid you configured on your worldserver.conf file ###
export SERVERPID=""
 
# path to conf file
export CONFIG=""

# path of log files
export LOGS_PATH="";

# exec name
export SERVERBIN=""

# name of screen service ( for restarter )
export SCREEN_NAME=""


##############################################
#
#  DB ASSEMBLER CONFIGURATIONS
#
##############################################


# 0 if you want create an sql for each kind of following categories
# 1 to create a single big file to import ( suggested for new installations )
ALL_IN_ONE=0

DATABASES=(
	"AUTH"
	"CHARACTERS"
	"WORLD"
)

OUTPUT_FOLDER="output/"

# FULL DB
DB_CHARACTERS_PATHS=(
    $SRCPATH"/data/sql/base/db_characters"
)

DB_CHARACTERS_NAME="characters"

DB_CHARACTERS_CONF="MYSQL_USER='root'; \
                    MYSQL_PASS='root'; \
                    MYSQL_HOST='localhost';\
                    "

DB_AUTH_PATHS=(
    $SRCPATH"/data/sql/base/db_auth/"
)

DB_AUTH_NAME="auth"

DB_AUTH_CONF="MYSQL_USER='root'; \
                    MYSQL_PASS='root'; \
                    MYSQL_HOST='localhost';\
                    "

DB_WORLD_PATHS=(
    $SRCPATH"/data/sql/base/db_world/"
)

DB_WORLD_NAME="world"

DB_WORLD_CONF="MYSQL_USER='root'; \
                    MYSQL_PASS='root'; \
                    MYSQL_HOST='localhost';\
                    "

# UPDATES
DB_CHARACTERS_UPDATE_PATHS=(
    $SRCPATH"/data/sql/updates/db_characters/"
)

DB_AUTH_UPDATE_PATHS=(
    $SRCPATH"/data/sql/updates/db_auth/"
)

DB_WORLD_UPDATE_PATHS=(
    $SRCPATH"/data/sql/updates/db_world/"
)

# CUSTOM
DB_CHARACTERS_CUSTOM_PATHS=(
    $SRCPATH"/data/sql/custom/db_characters/"
)

DB_AUTH_CUSTOM_PATHS=(
    $SRCPATH"/data/sql/custom/db_auth/"
)

DB_WORLD_CUSTOM_PATHS=(
    $SRCPATH"/data/sql/custom/db_world/"
)
