[worldserver]

###################################################################################################
#   ENCHANTER NPC
###################################################################################################

# Announce the module when the player logs in?

EnchanterNPC.Announce = 1