[worldserver]

###################################################################################################
#	Learn spells on level-up
###################################################################################################

# Enable the module? (1: true | 0: false)

LearnSpells.Enable = 1

# Announce the module when the player logs in?

LearnSpells.Announce = 1

# Max level Limit the player will learn spells
# 	Default:  = 80

MaxLevel = 80
