.Root {
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    background-color: #282c34;
    color: rgba(255, 255, 255, 0.95);
}

a {
    color: #61dafb;
}

a.selected {
    font-weight: bold;
    color: #61c8fb;
}

.Root-navigation h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
    padding: 19px 0;
}

.Root-navigation ul {
    background-color: #1f2329;
    padding: 12px 0 17px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.Root-navigation li {
    margin-top: 3px;
    margin-left: 12px;
}

.Root-navigation li a {
    font-size: 1.5rem;
}

.Root-navigation li .seperator {
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
    color: rgba(255, 255, 255, 0.75);
}

.Root-children-container {
    font-size: 1.2rem;
    padding: 10px 10px 40px 10px;
    margin: 19px auto;
    max-width: 960px;
}

.Toastify__toast.Toastify__toast--info {
    background-color: #1f2329;
}