[worldserver]

# XPWeekend.Announce
# 	Annnounces to the player that the module is enabled even if its not the weekend.
# default: 1 = true 
#

XPWeekend.Announce = 0

# XPWeekend.Enabled
#	Enable or Disable the module.
#default: 1 = enable
#

XPWeekend.Enabled = 1

# XPWeekend.xpAmount
#	Allows the config file to set the amount of times xp is given
# default = 2 (double)
#
XPWeekend.xpAmount = 2

# XPWeekend.IndividualXPEnabled
#     Allows players to set their own XP rates during the weekend through the weekendxp rates command.
#     Default: 0 (Disabled)

XPWeekend.IndividualXPEnabled = 0

# XPWeekend.MaxAllowedRate
#     Max allowed rates players may set while using the weekendxp rates command.
#     Default: 2
#

XPWeekend.MaxAllowedRate = 2

# XPWeekend.AlwaysEnabled
#     Forces the weekend xp bonus event to always be enabled regardless of the day. Use this for debugging.
#     Default: 0 (Disabled)
#

XPWeekend.AlwaysEnabled = 0

# XPWeekend.QuestOnly
#     Restricts the experience bonus to quest rewards only.
#     Default: 0 (Disabled, both creatures and quests are affected)
#

XPWeekend.QuestOnly = 0

# XPWeekend.MaxLevel = 80
#     Restricts the experience bonus to characters of a certain level.
#     Characters with a higher level than this will not receive any bonus experience.
#

XPWeekend.MaxLevel = 80

# XPWeekend.IsDKStartZoneRequired = 0
#     If set to 1 (enabled), players must have completed the Death Knight starting zone to receive the bonus experience.
#     Default: 0 (Disabled)

XPWeekend.IsDKStartZoneRequired = 0

# XPWeekend.IsJoyousJourneysActive = 0
#     Promotional event, adds yet another layer of bonus on top of the current bonus (yay!)
#     Default: 0 (Disabled)

XPWeekend.IsJoyousJourneysActive = 0

# XPWeekend.JoyousJourneysXPRate = 1
#     Bonus experience rate during joyous journeys.
#     ADDS to the base one. So if base 2x + 1x from this = 3x (50% increase).
#     Default: 1

XPWeekend.JoyousJourneysXPRate = 1

# XPWeekend.JoyousJourneysRepRate = 1.10
#     Reputation bonus while joyous journeys is active.
#     Default: 1.10 (10%)

XPWeekend.JoyousJourneysRepRate = 1.10

# XPWeekend.ExcludeInsaneReps = 1
#     Exclude the insane title reputations e.g ravenholdt
#     Default: 1 (Enabled)

XPWeekend.ExcludeInsaneReps = 1
