[worldserver]

###################################################################################################
#	Killstreak module
###################################################################################################

# Enable the module? (1: true | 0: false)

Killstreak.Enable = 1