.Labeled {
    display: block;
    margin: 12px 0;
}

.Labeled-label {
    display: flex;
    flex-flow: column nowrap;
}

.Labeled-label-node {
    width: 100%;
}

.Labeled-label-text {
    font-size: 1rem;
    margin-bottom: 7px;
}

.Labeled-helper {
    margin-top: 7px;
    font-size: 0.9rem;
    font-style: italic;
}

.Labeled-helper.has-error {
    color: #ef6e6e;
}

.TextField {
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    width: 100%;
    padding: 7px;
    background-color: #1f2329;
    border: 2px solid rgba(255, 255, 255, 0.86);
}

.TextField:focus {
    outline: 2px solid #61dafb;
}

.Button {
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    display: block;
    padding: 1rem;
    font-size: 1.3rem;
    background-color: #1f2329;
    border: 2px solid rgba(255, 255, 255, 0.86);
}

.Button:focus {
    outline: none;
    border: 2px solid #61dafb;
}

.Button:active {
    border: 2px solid white;
    background-color: #61dafb;
}

.Button:disabled {
    cursor: default;
    background-color: rgba(255, 255, 255, 0.12);
    color: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.12);
}

.Button.dense {
    font-size: 1rem;
    padding: 0.5rem 1rem;
}