[worldserver]

###################################################################################################
#  ELUNA SETTINGS
#
#   Eluna.Enabled
#       Description: Enable or disable Eluna LuaEngine
#       Default:    true  - (enabled)
#                   false - (disabled)
#
#   Eluna.TraceBack
#       Description: Sets whether to use debug.traceback function on a lua error or not.
#                    Notice that you can redefine the function.
#       Default:    false - (use default error output)
#                   true  - (use debug.traceback function)
#
#   Eluna.ScriptPath
#       Description: Sets the location of the script folder to load scripts from
#                    The path can be relative or absolute.
#       Default:    "lua_scripts"
#

Eluna.Enabled = true
Eluna.TraceBack = false
Eluna.ScriptPath = "lua_scripts"
