[worldserver]

###################################################################################################
#	CODEBOX NPC
###################################################################################################

# Announce the module when the player logs in?

CodeboxNPC.Announce = 1