[worldserver]
#
###################################################################################################

###################################################################################################
#
#     Solocraft.Enable
#        Description: Solocraft is a script to increase players and bots stats in raids, 
#		 based on group size. It feels a little Hacky, but raids is unfair hard with playerbots.
#        Default:     0

Solocraft.Enable = 0
