[worldserver]

Motd = "Benvenuti nel reame di AzerothShard!"

BirthdayTime = 1420822800

StartPlayerMoney = 9000

Quests.LowLevelHideDiff = -1

PlayerLimit = 600

HeroicCharactersPerRealm = 10

DeletedCharacterTicketTrace = 1

Channel.RestrictedLfg = 0

Channel.SilentlyGMJoin = 1

ChatLevelReq.Channel = 10
ChatLevelReq.Whisper = 10

Rate.Drop.Item.Poor             = 9
Rate.Drop.Item.Normal           = 5
Rate.Drop.Item.Uncommon         = 4
Rate.Drop.Item.Rare             = 4
Rate.Drop.Item.Epic             = 4
Rate.Drop.Item.Legendary        = 1
Rate.Drop.Item.Artifact         = 1
Rate.Drop.Item.Referenced       = 1
Rate.Drop.Money                 = 1.5

Rate.XP.Quest   = 6
Rate.XP.Explore = 3

Rate.XP.BattlegroundKill = 30

Rate.Auction.Deposit = 0
Rate.Auction.Cut     = 0.1

Rate.Honor = 1.5

SkillGain.Defense   = 5
SkillGain.Weapon    = 5

AutoBroadcast.On = 1

AutoBroadcast.Timer = 50000

Battleground.QueueAnnouncer.Enable = 1

Battleground.QueueAnnouncer.PlayerOnly = 1

Battleground.GiveXPForKills = 1

Battleground.StoreStatistics.Enable = 1

Battleground.TrackDeserters.Enable = 1

Arena.RatingDiscardTimer = 10000

Arena.AutoDistributePoints = 1

Arena.AutoDistributeInterval = 4

Arena.QueueAnnouncer.Enable = 1

Arena.ArenaStartRating = 1000

Arena.ArenaStartPersonalRating = 1000

Rate.ArenaPoints = 1


CharDelete.Method = 1

CharDelete.MinLevel = 15

CharDelete.KeepDays = 30


Guild.AllowMultipleGuildMaster = 1

ShowKickInWorld = 1

PlayerDump.DisallowPaths = 0

PlayerDump.DisallowOverwrite = 0

BattleGround.PremadeGroupWaitForMatch = 60000

ChatFlood.MessageDelay = 0

# enable/disable
ExternalMail = 1
#minutes
ExternalMailInterval = 1

#    [AZTH]
#    Battleground.RandomCrossFaction.Enable
#        Description: Enable random battleground crossfaction randomizing system
#        Default:     0 - (Disabled)
#                     1 - (Enabled)

Battleground.RandomCrossFaction.Enable = 1

#    [AZTH] 
#    Battleground.InvitationType
#        Description: Set Battleground invitation type.
#        Default:     0 - (Normal, Invite as much players to battlegrounds as queued,
#                          Don't bother with balance)
#                     1 - (Experimental, Don't allow to invite much more players
#                          of one faction)
#                     [AZTH]
#                     2 - (Experimental, start when teams are even)

Battleground.InvitationType = 2


###################################################################################################
# PLAYER INTERACTION
#
#    AllowTwoSide.Accounts
#        Description: Allow creating characters of both factions on the same account.
#        Default:     1 - (Enabled)
#                     0 - (Disabled)

AllowTwoSide.Accounts = 1

#
#    AllowTwoSide.Interaction.Calendar
#        Description: Allow calendar invites between factions.
#        Default:     0 - (Disabled)
#                     1 - (Enabled)

AllowTwoSide.Interaction.Calendar = 1

#
#    AllowTwoSide.Interaction.Chat
#        Description: Allow say chat between factions.
#        Default:     0 - (Disabled)
#                     1 - (Enabled)

AllowTwoSide.Interaction.Chat = 1

#
#    AllowTwoSide.Interaction.Channel
#        Description: Allow channel chat between factions.
#        Default:     0 - (Disabled)
#                     1 - (Enabled)

AllowTwoSide.Interaction.Channel = 1

#
#    AllowTwoSide.Interaction.Group
#        Description: Allow group joining between factions.
#        Default:     0 - (Disabled)
#                     1 - (Enabled)

AllowTwoSide.Interaction.Group = 1

#
#    AllowTwoSide.Interaction.Guild
#        Description: Allow guild joining between factions.
#        Default:     0 - (Disabled)
#                     1 - (Enabled)

AllowTwoSide.Interaction.Guild = 1

#
#    AllowTwoSide.Interaction.Auction
#        Description: Allow auctions between factions.
#        Default:     0 - (Disabled)
#                     1 - (Enabled)

AllowTwoSide.Interaction.Auction = 1

#
#    AllowTwoSide.Interaction.Mail
#        Description: Allow sending mails between factions.
#        Default:     0 - (Disabled)
#                     1 - (Enabled)

AllowTwoSide.Interaction.Mail = 1

#
#    AllowTwoSide.WhoList
#        Description: Show characters from both factions in the /who list.
#        Default:     0 - (Disabled)
#                     1 - (Enabled)

AllowTwoSide.WhoList = 1

#
#    AllowTwoSide.AddFriend
#        Description: Allow adding friends from other faction the friends list.
#        Default:     0 - (Disabled)
#                     1 - (Enabled)

AllowTwoSide.AddFriend = 1

#
#    AllowTwoSide.Trade
#        Description: Allow trading between factions.
#        Default:     0 - (Disabled)
#                     1 - (Enabled)

AllowTwoSide.Trade = 1

#
#    TalentsInspecting
#        Description: Allow inspecting characters from the opposing faction.
#                     Doesn't affect characters in gamemaster mode.
#        Default:     1 - (Enabled)
#                     0 - (Disabled)

TalentsInspecting = 1

#
###################################################################################################




###################################################################################################
#    Transmogrification config
###################################################################################################
#
#    SETTINGS
#
#    Logger.custom.transmog
#        Description: Transmogrification logging setting, see logger settings
#        Default:    3, Console Server
#
#    Transmogrification.EnableTransmogInfo
#        Description: Enables / Disables the info button for transmogrification
#        Default:    1
#
#    Transmogrification.TransmogNpcText
#        Description: The npc_text entry of the info menu for transmogrification
#        Default:    50000
#
#    Transmogrification.Allowed
#        Description: A list of item entries that are allowed for transmogrification (skips quality and CanUseItem check)
#                     Example: "25 35674 5623"
#        Default:    ""
#
#    Transmogrification.NotAllowed
#        Description: A list of item entries that are NOT allowed for transmogrification
#                     Example: "25 35674 5623"
#        Default:    ""

Transmogrification.EnableTransmogInfo = 1
Transmogrification.TransmogNpcText = 50000

Transmogrification.Allowed = ""
Transmogrification.NotAllowed = ""

#
#    COPPER COST
#
#    Transmogrification.ScaledCostModifier
#        Description: A multiplier for the default gold cost (change to 0 for no default cost)
#        Default:    1.0
#
#    Transmogrification.CopperCost
#        Description: Cost added on top of other costs (can be negative)
#        Default:    0
#
#    For custom gold cost set ScaledCostModifier to 0.0 and CopperCost to what ever cost you want

Transmogrification.ScaledCostModifier = 1.0
Transmogrification.CopperCost = 0

#
#    TOKEN COST
#
#    Transmogrification.RequireToken
#        Description: Adds/disables token cost
#        Default:    0
#
#    Transmogrification.TokenEntry
#        Description: Entry of the token item
#        Default:    49426
#
#    Transmogrification.TokenAmount
#        Description: Amount of tokens required
#        Default:    1

Transmogrification.RequireToken = 1
Transmogrification.TokenEntry = 47241
Transmogrification.TokenAmount = 3

#
#    REQUIREMENTS
#
#    Transmogrification.AllowPoor
#        Description: Allow poor quality items to be used as source and target items
#        Default:    0
#
#    Transmogrification.AllowCommon
#        Description: Allow common quality items to be used as source and target items
#        Default:    0
#
#    Transmogrification.AllowUncommon
#        Description: Allow uncommon quality items to be used as source and target items
#        Default:    1
#
#    Transmogrification.AllowRare
#        Description: Allow rare quality items to be used as source and target items
#        Default:    1
#
#    Transmogrification.AllowEpic
#        Description: Allow epic quality items to be used as source and target items
#        Default:    1
#
#    Transmogrification.AllowLegendary
#        Description: Allow legendary quality items to be used as source and target items
#        Default:    0
#
#    Transmogrification.AllowArtifact
#        Description: Allow artifact quality items to be used as source and target items
#        Default:    0
#
#    Transmogrification.AllowHeirloom
#        Description: Allow heirloom quality items to be used as source and target items
#        Default:    1
#
#    Transmogrification.AllowMixedArmorTypes
#        Description: Allow cloth items to be transmogrified with plate for example
#        Default:    0
#
#    Transmogrification.AllowMixedWeaponTypes
#        Description: Allow axe to be transmogrified with dagger for example
#        Default:    0
#
#    Transmogrification.AllowFishingPoles
#        Description: Allow fishing poles to be transmogrified
#        Default:    0
#
#    Transmogrification.IgnoreReqRace
#        Description: Ignore required race for source items
#        Default:    0
#
#    Transmogrification.IgnoreReqClass
#        Description: Ignore required class for source items
#        Default:    0
#
#    Transmogrification.IgnoreReqSkill
#        Description: Ignore required skill for source items
#        Default:    0
#
#    Transmogrification.IgnoreReqSpell
#        Description: Ignore required spell for source items
#        Default:    0
#
#    Transmogrification.IgnoreReqLevel
#        Description: Ignore required level for source items
#        Default:    0
#
#    Transmogrification.IgnoreReqEvent
#        Description: Ignore required event for source items
#        Default:    0
#
#    Transmogrification.IgnoreReqStats
#        Description: Ignore stat count > 0 requirement for source items
#        Default:    0

Transmogrification.AllowPoor = 1
Transmogrification.AllowCommon = 1
Transmogrification.AllowUncommon = 1
Transmogrification.AllowRare = 1
Transmogrification.AllowEpic = 1
Transmogrification.AllowLegendary = 1
Transmogrification.AllowArtifact = 1
Transmogrification.AllowHeirloom = 1

Transmogrification.AllowMixedArmorTypes = 1
Transmogrification.AllowMixedWeaponTypes = 1
Transmogrification.AllowFishingPoles = 0

Transmogrification.IgnoreReqRace = 0
Transmogrification.IgnoreReqClass = 0
Transmogrification.IgnoreReqSkill = 0
Transmogrification.IgnoreReqSpell = 0
Transmogrification.IgnoreReqLevel = 0
Transmogrification.IgnoreReqEvent = 0
Transmogrification.IgnoreReqStats = 0

#
#    SET FEATURE
#
#    Transmogrification.EnableSets
#        Description: Enables / Disables the set feature. If you want permanent disable, check Transmogrification.h
#        Default:    1
#
#    Transmogrification.MaxSets
#        Description: Maximum amount of sets a player can save (hardcap at 25)
#        Default:    10
#
#    Transmogrification.EnableSetInfo
#        Description: Enables / Disables the info button for set fature
#        Default:    1
#
#    Transmogrification.SetNpcText
#        Description: The npc_text entry of the info menu for the set feature
#        Default:    50001
#
#    Transmogrification.SetCostModifier
#        Description: A multiplier for the default gold cost (all costs summed together) (change to 0 for no default cost)
#        Default:    3.0
#
#    Transmogrification.SetCopperCost
#        Description: Cost added on top of other costs (can be negative)
#        Default:    0

Transmogrification.EnableSets = 1
Transmogrification.MaxSets = 10

Transmogrification.EnableSetInfo = 1
Transmogrification.SetNpcText = 50001

Transmogrification.SetCostModifier = 3.0
Transmogrification.SetCopperCost = 0

#
###################################################################################################
#  ANTICHEAT
#
#     Anticheat.Enable
#        Description: Enables or disables the Anticheat System functionality
#        Default:     1 - (Enabled)
#                     0 - (Disabled)

Anticheat.Enable = 1

#     Anticheat.ReportsForIngameWarnings
#        Description: How many reports the player must have to notify to GameMasters ingame when he generates a new report.
#        Default:     70

Anticheat.ReportsForIngameWarnings = 15

#     Anticheat.DetectionsEnabled
#        Description: It represents which detections are enabled.
#
#        SPEED_HACK_DETECTION            = 1
#        FLY_HACK_DETECTION              = 2
#        WALK_WATER_HACK_DETECTION       = 4
#        JUMP_HACK_DETECTION             = 8
#        TELEPORT_PLANE_HACK_DETECTION   = 16
#        CLIMB_HACK_DETECTION            = 32
#
#        Default:     31

Anticheat.DetectionsEnabled = 31

#     Anticheat.MaxReportsForDailyReport
#        Description: How many reports must the player have to make a report that it is in DB for a day (not only during the player's session).
#        Default:     70

Anticheat.MaxReportsForDailyReport = 30

#
###################################################################################################
######################
### PVP RANK PATCH ###
######################

PvPRank.Rate.ExtraHonor = 1
PvPRank.HKPerRank = 10,50,100,200,450,750,1300,2000,3500,6000,9500,15000,21000,30000

###################################################################################################

Azth.Rate.Arena1v1 = 0.2;

###################################################################################################
# CUSTOM PLAYER XP CONFIGS
###################################################################################################
#	Player.customXP.security
#		Description: Needed security level to run ".azth xp" command
#		Default: 3
#
#	Player.customXP.maxValue
#		Description: Maximum custom XP multiplier. Watch out: The xp gained is calculated this way: (XP * Rate.XP) * Player.customXP
#		Default: 1 (Default XP rate)
#
#	Player.customXP.showOnLogin
#		Description: Show custom xp value on login
#		Default: 0 (Don't show message)

Player.customXP.security = 0
Player.customXP.maxValue = 6
Player.customXP.showOnLogin = 1

###################################################################################################


