[worldserver]

###################################################################################################
#	ALLMOUNTS NPC
###################################################################################################

# Announce the module when the player logs in?

AllMountsNPC.Announce = 1