[worldserver]

###############################################################################
# AUCTION HOUSE BOT SETTINGS
#
#    AuctionHouseBot.DEBUG
#        Enable/Disable Debugging output
#    Default 0 (disabled)
#
#    AuctionHouseBot.DEBUG_CONFIG
#        Enable/Disable Debugging output from the configuration
#    Default 0 (disabled)
#
#    AuctionHouseBot.DEBUG_FILTERS
#        Enable/Disable Debugging output from Filters
#    Default 0 (disabled)
#
#    AuctionHouseBot.DEBUG_BUYER
#        Enable/Disable Debugging output from buyer
#    Default 0 (disabled)
#
#    AuctionHouseBot.DEBUG_SELLER
#        Enable/Disable Debugging output from seller
#    Default 0 (disabled)
#
#    AuctionHouseBot.TRACE_SELLER
#        Enable/Disable tracing for the sold items
#    Default 0 (disabled)
#
#    AuctionHouseBot.TRACE_BUYER
#        Enable/Disable tracing for the bought items
#    Default 0 (disabled)
#
#    AuctionHouseBot.EnableSeller
#        Enable/Disable the part of AHBot that puts items up for auction
#    Default 0 (disabled)
#
#    AuctionHouseBot.EnableBuyer
#        Enable/Disable the part of AHBot that buys items from players
#    Default 0 (disabled)
#
#    AuctionHouseBot.UseBuyPriceForSeller
#        Should the Seller use BuyPrice or SellPrice to determine Bid Prices
#    Default 0 (use SellPrice)
#
#    AuctionHouseBot.UseBuyPriceForBuyer
#        Should the Buyer use BuyPrice or SellPrice to determine Bid Prices
#    Default 0 (use SellPrice)
#
#    AuctionHouseBot.UseMarketPriceForSeller
#        Should the Seller use the market price for its auctions?
#    Default 0 (disabled)
#
#    AuctionHouseBot.MarketResetThreshold
#        How many auctions of the same item are necessary before the plain priceis adopted.
#        Before reaching this threshold, the price increase/decrease according to an heuristic.
#        Set this variable to a lower value to have a fast reacting market price,
#        to an high value to smooth the oscillations in prices.
#    Default 25
#
#    Auction House Bot character data
#        AuctionHouseBot.Account is the account number
#         (in realmd->account table) of the player you want to run
#         as the auction bot.
#        AuctionHouseBot.GUID is the GUID (in characters->characters table)
#         of the player you want to run as the auction bot.
#    Default: 0 (Auction House Bot disabled)
#
#    AuctionHouseBot.ItemsPerCycle
#        Number of Items to Add/Remove from the AH during mass operations
#    Default 200
#
#    AuctionHouseBot.ConsiderOnlyBotAuctions
#        Ignore player auctions and consider only bot ones when keeping track of the numer of auctions in place.
#        This allow to keep a background noise in the market even when lot of players are in.
#        If this is not set, players acutions are counted in the valid auctions and you will need to greatly increase the maxitems SQL values to
#        allow the bot to operate on the market. If this is set the players auctions will not be considered.
#    Default 0 (False)
#
#    AuctionHouseBot.DuplicatesCount
#        The maximum amount of duplicates stacks present in the market sold by the bot.
#        If set to zero then no limits are set in place.
#    Default 0
#
#    AuctionHouseBot.DivisibleStacks
#        Sell items in stack sizes which depends on the maximum amount per stack.
#        For example, an item with max stack size 20 will be sold in 5, 10 15 and 20 stacks, and not at random.
#    Default 0 (False)
#
#    AuctionHouseBot.ElapsingTimeClass
#        The elapsing time for the sold items. There are three classes:
#        0 = long, auctions lasts from one to three days
#        1 = medium, auctions lasts within a day
#        2 = shorts, auctions lasts within an hour
#    Default 1
#
###############################################################################

AuctionHouseBot.DEBUG = 0
AuctionHouseBot.DEBUG_CONFIG = 0
AuctionHouseBot.DEBUG_FILTERS = 0
AuctionHouseBot.DEBUG_BUYER = 0
AuctionHouseBot.DEBUG_SELLER = 0
AuctionHouseBot.TRACE_SELLER = 0
AuctionHouseBot.TRACE_BUYER = 0

AuctionHouseBot.EnableSeller = 0
AuctionHouseBot.EnableBuyer = 0
AuctionHouseBot.UseBuyPriceForSeller = 0
AuctionHouseBot.UseBuyPriceForBuyer = 0
AuctionHouseBot.UseMarketPriceForSeller = 0
AuctionHouseBot.MarketResetThreshold = 25
AuctionHouseBot.Account = 0
AuctionHouseBot.GUID = 0
AuctionHouseBot.ItemsPerCycle = 200
AuctionHouseBot.ConsiderOnlyBotAuctions = 0
AuctionHouseBot.DuplicatesCount = 0
AuctionHouseBot.DivisibleStacks = 0
AuctionHouseBot.ElapsingTimeClass = 1

###############################################################################
# AUCTION HOUSE BOT FILTERS PART 1
#
#    AuctionHouseBot.VendorItems
#        Include items that can be bought from vendors.
#    Default 0 (False)
#
#    AuctionHouseBot.VendorTradeGoods
#        Include Trade Goods that can be bought from vendors.
#    Default 0 (False)
#
#    AuctionHouseBot.LootItems
#        Include items that can be looted or fished for.
#    Default 1 (True)
#
#    AuctionHouseBot.LootTradeGoods
#        Include Trade Goods that can be looted or fished for.
#    Default 1 (True)
#
#    AuctionHouseBot.OtherItems
#        Include misc. items.
#    Default 0 (False)
#
#    AuctionHouseBot.OtherTradeGoods
#        Include misc. Trade Goods.
#    Default 0 (False)
#
#    AuctionHouseBot.Bonding_types
#        Indicates which bonding types to allow seller to put up for auction
#            No_Bind
#             Default 1 (True)
#            Bind_When_Picked_Up
#             Default 0 (False)
#            Bind_When_Equipped
#             Default 1 (True)
#            Bind_When_Use
#             Default 1 (True)
#            Bind_Quest_Item
#             Default 0 (False)
#
#    AuctionHouseBot.DisablePermEnchant
#        Disable Items with a Permanent Enchantment
#    Default 0 (False)
#
#    AuctionHouseBot.DisableConjured
#        Disable Conjured Items
#    Default 0 (False)
#
#    AuctionHouseBot.DisableGems
#        Disable Gems
#    Default 0 (False)
#
#    AuctionHouseBot.DisableMoney
#        Disable Items that are used as money
#    Default 0 (False)
#
#    AuctionHouseBot.DisableMoneyLoot
#        Disable Items that have Money as a loot
#    Default 0 (False)
#
#    AuctionHouseBot.DisableLootable
#        Disable Items that have other items as loot
#    Default 0 (False)
#
#    AuctionHouseBot.DisableKeys
#        Disable Items that are keys
#    Default 0 (False)
#
#    AuctionHouseBot.DisableDuration
#        Disable Items with a duration
#    Default 0 (False)
#
#    AuctionHouseBot.DisableBOP_Or_Quest_NoReqLevel
#        Disable items that are BOP or Quest Item
#        with a Required level that is less than the Item Level
#        (This prevents a level 10 with a level 60 weapon or armor)
#        (May need further refinement)
#    Default 0 (False)
#
###############################################################################

AuctionHouseBot.VendorItems = 0
AuctionHouseBot.VendorTradeGoods = 0
AuctionHouseBot.LootItems = 1
AuctionHouseBot.LootTradeGoods = 1
AuctionHouseBot.OtherItems = 0
AuctionHouseBot.OtherTradeGoods = 0
AuctionHouseBot.No_Bind = 1
AuctionHouseBot.Bind_When_Picked_Up = 0
AuctionHouseBot.Bind_When_Equipped = 1
AuctionHouseBot.Bind_When_Use = 1
AuctionHouseBot.Bind_Quest_Item = 0
AuctionHouseBot.DisablePermEnchant = 0
AuctionHouseBot.DisableConjured = 0
AuctionHouseBot.DisableGems = 0
AuctionHouseBot.DisableMoney = 0
AuctionHouseBot.DisableMoneyLoot = 0
AuctionHouseBot.DisableLootable = 0
AuctionHouseBot.DisableKeys = 0
AuctionHouseBot.DisableDuration = 0
AuctionHouseBot.DisableBOP_Or_Quest_NoReqLevel = 0

###############################################################################
# AUCTION HOUSE BOT FILTERS PART 2
#
#     These Filters are boolean (0 or 1) and will disable items that are
#     specifically meant for the Class named.
#     (UnusedClass is Class 10, which was skipped for some reason)
#     Default 0 (allowed)
#
###############################################################################

AuctionHouseBot.DisableWarriorItems = 0
AuctionHouseBot.DisablePaladinItems = 0
AuctionHouseBot.DisableHunterItems = 0
AuctionHouseBot.DisableRogueItems = 0
AuctionHouseBot.DisablePriestItems = 0
AuctionHouseBot.DisableDKItems = 0
AuctionHouseBot.DisableShamanItems = 0
AuctionHouseBot.DisableMageItems = 0
AuctionHouseBot.DisableWarlockItems = 0
AuctionHouseBot.DisableUnusedClassItems = 0
AuctionHouseBot.DisableDruidItems = 0

###############################################################################
# AUCTION HOUSE BOT FILTERS PART 3
#
#    AuctionHouseBot.DisabledItems
#        Prevent Seller from listing specific item(s)
#        (not used anymore, see table "mod_auctionhousebot_disabled_items")
#
#    AuctionHouseBot.DisableItemsBelowLevel
#        Prevent Seller from listing Items below this Level
#    Default 0 (Off)
#
#    AuctionHouseBot.DisableItemsAboveLevel
#        Prevent Seller from listing Items above this Level
#    Default 0 (Off)
#
#    AuctionHouseBot.DisableTGsBelowLevel
#        Prevent Seller from listing Trade Goods below this Level
#    Default 0 (Off)
#
#    AuctionHouseBot.DisableTGsAboveLevel
#        Prevent Seller from listing Trade Goods above this Level
#    Default 0 (Off)
#
#    AuctionHouseBot.DisableItemsBelowGUID
#        Prevent Seller from listing Items below this GUID
#    Default 0 (Off)
#
#    AuctionHouseBot.DisableItemsAboveGUID
#        Prevent Seller from listing Items above this GUID
#    Default 0 (Off)
#
#    AuctionHouseBot.DisableTGsBelowGUID
#        Prevent Seller from listing Trade Goods below this GUID
#    Default 0 (Off)
#
#    AuctionHouseBot.DisableTGsAboveGUID
#        Prevent Seller from listing Trade Goods above this GUID
#    Default 0 (Off)
#
#    AuctionHouseBot.DisableItemsBelowReqLevel
#        Prevent Seller from listing Items below this Required Level
#    Default 0 (Off)
#
#    AuctionHouseBot.DisableItemsAboveReqLevel
#        Prevent Seller from listing Items above this Required Level
#    Default 0 (Off)
#
#    AuctionHouseBot.DisableTGsBelowReqLevel
#        Prevent Seller from listing Trade Goods below this Required Level
#    Default 0 (Off)
#
#    AuctionHouseBot.DisableTGsAboveReqLevel
#        Prevent Seller from listing Trade Goods above this Required Level
#    Default 0 (Off)
#
#    AuctionHouseBot.DisableItemsBelowReqSkillRank
#        Prevent Seller from listing Items below this Required Skill Rank
#    Default 0 (Off)
#
#    AuctionHouseBot.DisableItemsAboveReqSkillRank
#        Prevent Seller from listing Items above this Required Skill Rank
#    Default 0 (Off)
#
#    AuctionHouseBot.DisableTGsBelowReqSkillRank
#        Prevent Seller from listing Trade Goods below this Required Skill Rank
#    Default 0 (Off)
#
#    AuctionHouseBot.DisableTGsAboveReqSkillRank
#        Prevent Seller from listing Trade Goods above this Required Skill Rank
#    Default 0 (Off)
#
###############################################################################

AuctionHouseBot.DisableItemsBelowLevel = 0
AuctionHouseBot.DisableItemsAboveLevel = 0
AuctionHouseBot.DisableTGsBelowLevel = 0
AuctionHouseBot.DisableTGsAboveLevel = 0
AuctionHouseBot.DisableItemsBelowGUID = 0
AuctionHouseBot.DisableItemsAboveGUID = 0
AuctionHouseBot.DisableTGsBelowGUID = 0
AuctionHouseBot.DisableTGsAboveGUID = 0
AuctionHouseBot.DisableItemsBelowReqLevel = 0
AuctionHouseBot.DisableItemsAboveReqLevel = 0
AuctionHouseBot.DisableTGsBelowReqLevel = 0
AuctionHouseBot.DisableTGsAboveReqLevel = 0
AuctionHouseBot.DisableItemsBelowReqSkillRank = 0
AuctionHouseBot.DisableItemsAboveReqSkillRank = 0
AuctionHouseBot.DisableTGsBelowReqSkillRank = 0
AuctionHouseBot.DisableTGsAboveReqSkillRank = 0

###############################################################################
# AUCTION HOUSE BOT FILTERS PART 4
#
#    AuctionHouseBot.SellerWhiteList
#        Bypass the values of the disabled items table and only allows selling of the selected items
#        Values here must be the item template id separated with a comma (eg "1, 2, 3")
#    Default "" (Empty)
#
###############################################################################

AuctionHouseBot.SellerWhiteList = ""
