name: Auto Assign to Project(s)

on:
  issues:
    types: [opened, labeled]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  assign_one_project:
    runs-on: ubuntu-latest
    name: Assign to One Project
    steps:

    - name: Assign issues with `1-19` label to their project
      uses: srggrs/assign-one-project-github-action@1.2.1
      if: |
        contains(github.event.issue.labels.*.name, '1-19')
      with:
        project: 'https://github.com/azerothcore/azerothcore-wotlk/projects/14'

