name: nopch-build
on:
  push:
    branches:
      - 'npcbots_3.3.5'
      - 'CI'
  pull_request:
    types: ['opened', 'synchronize', 'reopened']

concurrency:
  group: ${{ github.head_ref }} || concat(${{ github.ref }}, ${{ github.workflow }})
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        # the result of the matrix will be the combination of all attributes, so we get os*compiler builds
        include:
          - os: ubuntu-20.04
            compiler: clang12
          - os: ubuntu-20.04
            compiler: gcc10
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }}-${{ matrix.compiler }}-nopch
    env:
      COMPILER: ${{ matrix.compiler }}
    if: github.repository == 'trickerer/AzerothCore-wotlk-with-NPCBots'
    steps:
      - uses: actions/checkout@v4
      - name: Cache
        uses: actions/cache@v3
        with:
          path: var/ccache
          key: ccache:${{ matrix.os }}:${{ matrix.compiler }}:${{ github.ref }}:${{ github.sha }}
          restore-keys: |
            ccache:${{ matrix.os }}:${{ matrix.compiler }}:${{ github.ref }}
            ccache:${{ matrix.os }}:${{ matrix.compiler }}
      - name: Configure OS
        run: source ./acore.sh install-deps
        env:
          CONTINUOUS_INTEGRATION: true
      - name: Create conf/config.sh
        run: source ./apps/ci/ci-conf-core.sh
      - name: Process pending sql
        run: bash bin/acore-db-pendings
      - name: Build
        run: source ./apps/ci/ci-compile.sh
      - name: Dry run authserver
        run: source ./apps/ci/ci-dry-run.sh authserver
      - name: Dry run worldserver
        run: source ./apps/ci/ci-dry-run.sh worldserver
      - name: Check startup errors
        run: source ./apps/ci/ci-error-check.sh
      - name: Run unit tests
        run: source ./apps/ci/ci-run-unit-tests.sh
