name: "Pull Request Labeler"
on: [pull_request_target]

jobs:
  triage:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/labeler@main
      with:
        repo-token: ${{ secrets.AC_GITHUB_TOKEN }}
        configuration-path: .github/labeler.yml
        sync-labels: true
