name: PR Labeler
on:
  - pull_request_target

jobs:
  triage:
    runs-on: ubuntu-24.04
    permissions: write-all
    if: github.repository == 'azerothcore/azerothcore-wotlk'
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: true
      - uses: actions/labeler@v5
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          configuration-path: .github/labeler.yml
          sync-labels: true
