name: tools
on:
  push:
    branches:
      - 'master'
  pull_request:

concurrency:
  group: ${{ github.head_ref }} || concat(${{ github.ref }}, ${{ github.workflow }})
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        include:
          - os: ubuntu-24.04
            compiler:
              CC: clang-18
              CXX: clang++-18
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }}-${{ matrix.compiler.CC }}
    if: |
      github.repository == 'liyunfan1223/azerothcore-wotlk' && !github.event.pull_request.draft
      && (
        contains(github.event.pull_request.labels.*.name, 'run-build')
        || github.event.label.name == 'run-build'
      )
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/linux-build
        with:
          CC: ${{ matrix.compiler.CC }}
          CXX: ${{ matrix.compiler.CXX }}
          tools: all
          pch: false
